Repository NightscoutFoundation/xDrip, pull requests merged in 2021-08, with the labels that each got.

#1727 "Add Calibration" menu for a Firefly G6 instead of "Initial Calibration"
  app/src/main/java/com/eveningoutpost/dexdrip/AddCalibration.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/Calibration.java
  app/src/main/java/com/eveningoutpost/dexdrip/NavDrawerBuilder.java
Labels: calibration, device-dexcom

#1810 Don't offer to hard reset Firefly
  app/src/main/java/com/eveningoutpost/dexdrip/G5Model/DexTimeKeeper.java
  app/src/main/java/com/eveningoutpost/dexdrip/G5Model/Ob1G5StateMachine.java
Labels: device-dexcom-transmitter, next-build

#1807 support TLSv1.2 for NightscoutUploader on pre-Lollipop devices
  app/build.gradle
  app/src/main/java/com/eveningoutpost/dexdrip/Models/UserError.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/NightscoutUploader.java
Labels: sync-nightscout, next-build

#1800 XdripWebService: send HTTP 500 when exception occurs during processing
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/BaseWebService.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/WebResponse.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/WebServiceSgv.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/XdripWebService.java
  app/src/test/java/com/eveningoutpost/dexdrip/webservices/RouteFinderTest.java
Labels: code:quality, next-build
