Repository NightscoutFoundation/xDrip, pull requests merged in 2021-10, with the labels that each got.

#1773 add atom support
  app/src/main/java/com/eveningoutpost/dexdrip/Models/Atom.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreBlock.java
  app/src/main/java/com/eveningoutpost/dexdrip/Services/DexCollectionService.java
  app/src/main/res/values/strings.xml
  wear/src/main/java/com/eveningoutpost/dexdrip/Models/Atom.java
  wear/src/main/java/com/eveningoutpost/dexdrip/Services/DexCollectionService.java
  wear/src/main/res/values/strings.xml
Labels: enhancement

#1854 update calibration parameters
  app/src/main/java/com/eveningoutpost/dexdrip/G5Model/G6CalibrationParameters.java
  wear/src/main/java/com/eveningoutpost/dexdrip/G5Model/G6CalibrationParameters.java
Labels: calibration

#1821 libre2 all house coverage
  app/src/main/java/com/eveningoutpost/dexdrip/LibreAlarmReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/ActiveBluetoothDevice.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/Libre2SensorData.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreBlock.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreBluetooth.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreOOPAlgorithm.java
  app/src/main/java/com/eveningoutpost/dexdrip/NFCReaderX.java
  app/src/main/java/com/eveningoutpost/dexdrip/NSEmulatorReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/Services/ComunicationHeader.java
  app/src/main/java/com/eveningoutpost/dexdrip/Services/LibreWifiReader.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/Intents.java
  app/src/main/java/com/eveningoutpost/dexdrip/dagger/Singleton.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/LibreTrendGraph.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/LibreTrendUtil.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/RouteFinder.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/WebLibre2ConnectCode.java
  app/src/main/java/com/eveningoutpost/dexdrip/webservices/WebServiceModule.java
Labels: device-libre, next-build
