Repository NightscoutFoundation/xDrip, pull requests merged in 2021-11, with the labels that each got.

#1871 Ask users to use discussions
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: code:quality, next-build

#1858 Speak twice bug in German
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/SpeechUtil.java
Labels: next-build, speaking

#1846 Bugfix: Wear complication null with Share and Nightscout follow sources
  app/src/main/java/com/eveningoutpost/dexdrip/NSClientReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/NSEmulatorReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/cgm/nsfollow/EntryProcessor.java
  app/src/main/java/com/eveningoutpost/dexdrip/cgm/sharefollow/EntryProcessor.java
  wear/src/main/java/com/eveningoutpost/dexdrip/ListenerService.java
  wear/src/main/java/com/eveningoutpost/dexdrip/NSEmulatorReceiver.java
Labels: device-wear, next-build

#1709 Optionally store g5/g6 transmitter battery information in nightscout
  app/src/main/java/com/eveningoutpost/dexdrip/G5Model/Ob1DexTransmitterBattery.java
  app/src/main/java/com/eveningoutpost/dexdrip/Services/G5BaseService.java
  app/src/main/java/com/eveningoutpost/dexdrip/Services/Ob1G5CollectionService.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/NightscoutBatteryDevice.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/NightscoutUploader.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/pref_data_sync.xml
Labels: sync-nightscout, device-dexcom-transmitter, next-build

#1837 Remove emphasis from SD card
  app/src/main/res/layout/activity_sdcard_import_export.xml
  app/src/main/res/values/strings.xml
Labels: ui, next-build

#1732 Different color for marked bad readings
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/BgGraphBuilder.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/ColorCache.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/xdrip_plus_prefs.xml
Labels: ui, next-build

#1805 add Bulgarian language support
  app/src/main/res/values/locales.xml
  app/src/test/java/com/eveningoutpost/dexdrip/ui/TranslationTest.java
Labels: translation

#1867 Fix NumberWall Background image
  app/src/main/java/com/eveningoutpost/dexdrip/ui/activities/NumberWallPreview.java
  app/src/main/java/com/eveningoutpost/dexdrip/ui/helpers/BitmapUtil.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/FileUtils.java
Labels: ui, next-build, fix

#1832 declares Foreground service types for FollowServices
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/ForegroundServiceStarter.java
Labels: sync, fix

#1873 Tzachi libretrendutilfix
  app/src/main/java/com/eveningoutpost/dexdrip/Models/BgReading.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreOOPAlgorithm.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/ReadingData.java
  app/src/main/java/com/eveningoutpost/dexdrip/NFCReaderX.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/LibreTrendUtil.java
Labels: device-libre, database, next-build, fix
