Repository NightscoutFoundation/xDrip, pull requests merged in 2022-03, with the labels that each got.

#1957 Don't request to read Libre 2 multiple blocks beyond the 43rd
  app/src/main/java/com/eveningoutpost/dexdrip/NFCReaderX.java
Labels: enhancement, device-libre

#2022 change icon of auto configure setting to be a QR code scan
  app/src/main/res/drawable-hdpi/ic_qrscan.png
  app/src/main/res/drawable-ldpi/ic_qrscan.png
  app/src/main/res/drawable-mdpi/ic_qrscan.png
  app/src/main/res/drawable-xhdpi/ic_qrscan.png
  app/src/main/res/xml/pref_data_sync.xml
Labels: enhancement, ui

#1876 add Java 11 compatibility and cleanup build scripts
  .github/workflows/unit_test.yml
  app/build.gradle
  build.gradle
  common.gradle
  wear/build.gradle
  wear/src/main/res/values/strings.xml
Labels: code:quality, next-build, fix, code:java11

#1887 Tzachi libre no calibrations
  app/src/main/java/com/eveningoutpost/dexdrip/Home.java
  app/src/main/java/com/eveningoutpost/dexdrip/LibreAlarmReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/BgReading.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/GlucoseData.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/LibreOOPAlgorithm.java
  app/src/main/java/com/eveningoutpost/dexdrip/Models/ReadingData.java
  app/src/main/java/com/eveningoutpost/dexdrip/NFCReaderX.java
  app/src/main/java/com/eveningoutpost/dexdrip/NSEmulatorReceiver.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/BroadcastGlucose.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/Intents.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/DexCollectionType.java
  app/src/main/java/com/eveningoutpost/dexdrip/utils/LibreTrendPoint.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/pref_advanced_settings.xml
  app/src/test/java/com/eveningoutpost/dexdrip/Models/ReadingDataTest.java
  wear/src/main/java/com/eveningoutpost/dexdrip/Models/LibreOOPAlgorithm.java
Labels: device-libre, calibration
