Repository NightscoutFoundation/xDrip, pull requests merged in 2022-04, with the labels that each got.

#2063 Log the call stack of exception for log.e calls
  app/src/main/java/com/eveningoutpost/dexdrip/Models/UserError.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/AlertPlayer.java
Labels: enhancement, logging, next-build

#2031 Treatment, prediction and flair color names
  app/src/main/res/values/strings.xml
Labels: enhancement, settings

#1814 Fix "Never use them"
  app/src/main/java/com/eveningoutpost/dexdrip/Home.java
Labels: calibration, type-discussion

#1987 closes the media player correctly and releases resources
  app/build.gradle
  app/src/main/java/com/eveningoutpost/dexdrip/Models/JoH.java
  app/src/main/java/com/eveningoutpost/dexdrip/Reminders.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/AlertPlayer.java
  app/src/main/java/com/eveningoutpost/dexdrip/watch/miband/MiBandService.java
  wear/build.gradle
  wear/src/main/java/com/eveningoutpost/dexdrip/Models/JoH.java
  wear/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/AlertPlayer.java
Labels: ux-alarm, code:quality, next-build, fix

#2076 Move everything from the title to the summary
  app/src/main/java/com/eveningoutpost/dexdrip/utils/Preferences.java
  app/src/main/res/xml/pref_advanced_settings.xml
Labels: enhancement, ui, settings

#2075 Initial support for libre pro.
  app/src/main/java/com/eveningoutpost/dexdrip/NFCReaderX.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/Constants.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/LibreUtils.java
  app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/NightscoutUploader.java
  app/src/test/java/com/eveningoutpost/dexdrip/NFCReaderXTest.java
Labels: enhancement, device-libre
